<h3 [style.color]="'red'">Pipe Operator </h3>
<b>1. uppercase </b>
<p>{{message | uppercase}} </p>
<p>{{company.owner.name | uppercase}} </p>

<b>2. lowercase </b>
<p>{{"TTTTTT" | lowercase}} </p>

<b>3. date:'fullDate' </b>
<p>{{person.dob | date:'fullDate'}} </p>

<b>4. Pipe Chaining </b>
<p>{{person.dob | date:'fullDate' | uppercase}} </p>

<b> 5. jsonPipe with Objects</b>
<p>{{company | json}} </p> 

<b> 6. jsonPipe with Array</b>
<p>{{myArray | json}} </p> 

<b> 6. Safe Navigation OPerator </b>
<p>{{company?.compname}} </p> 
<p>{{company?.owner}} </p> 

<div>Dividend: <input [(ngModel)]="dividend"> </div>
<div>Divisor: <input [(ngModel)]="divisor"> </div>
<p>
  Division Result: {{dividend | division: divisor}}
</p> 

<b> Extending existing pipes and create built in pipes </b>
{{"hello world" | customUppercase}}<br>

<b [style.color]="'red'"> using pure and impure pipes </b><br>
Company Name: <input [(ngModel)] ="compName"/> {{compName}}
<br/>Location: <input [(ngModel)] ="compLocation"/> {{compLocation}}
<br/><br/><button (click)="updateCompany()">Update Existing</button> 
<button (click)="createCompany()">Create New </button> 
				 
<br/><b>a. Using Pure Pipe : companyone</b><br/><br/>
 {{company1 | purepipe}}
			  
<br/><br/><b>b. Using Impure Pipe : companytwo</b><br/><br/>
 {{company1 | impurepipe}} 

