<div>Root Component</div>

<app-child></app-child>

<app-news></app-news>

<app-site></app-site>

<app-event></app-event>

<app-style-binding></app-style-binding>

<!--2 way databinding-->
<app-twowaybinding></app-twowaybinding>

<!--View Child-->
<app-parent></app-parent>

<!--Content Child-->
<app-content-child></app-content-child>

<!--directive-->
<app-directive></app-directive>

<!--pipes-->
<app-pipes></app-pipes>

<app-counter></app-counter>

<form #form="ngForm">
    <app-counter name="counter" ngModel></app-counter>
</form>